doctype
html
    head
        title="Pub Sub System"
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Tic Tac Toe Game')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', type='text/css', href='lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', type='text/css', href='assets/styles/main.css')
    body
        block main-content
        include scripts