script(src='/lib/jquery/dist/jquery.min.js')
script(src='/lib/socket.io-client/socket.io.js')
script(src='/lib/handlebars/handlebars.min.js')
script(src='/lib/lodash/lodash.min.js')
script(src='/assets/js/EventDispatcher.js')
script(src='/config/config.js')
script(src='/pubsub/pubsub.js')
script(src='/pubsub/services/messages.js')
script(src='/pubsub/components/component.js')
script(src='/pubsub/components/pubClient.js')
script(src='/pubsub/components/chat.js')
script(src='/pubsub/menu.js')
script(src='/app.js')
