<div id="chat" class="pubsub-client">
	<div class="client-wrap wrap">
		<h1>Simple Chat</h1>
		<div class="controls display-controls">
			<textarea readonly class="chat-messages"></textarea>
		</div>
		<div class="controls publish-controls">
			<input placeholder="Nickname" class="half-width" name="nickname"></input>
			<input placeholder="Message" class="half-width" name="message"></input>
			<a id="to-publish" href="#">Send</a>
		</div>
	</div>
</div>