<div id="pub-client">
	<div class="client-wrap wrap">
		<h1>Publisher</h1>
		<div class="controls publish-controls">
			<input placeholder="Topic" class="half-width" name="to-channel"></input>
			<input placeholder="Message" class="half-width" name="to-publish"></input>
			<a id="to-publish" href="#">Publish</a>
		</div>
	</div>
	<div class="publisher-wrap wrap">
		<h1>Client</h1>
		<div class="controls publish-controls">
			<input placeholder="Topic" name="to-subscribe"></input>
			<a id="to-subscribe" href="#">Subscribe</a>
		</div>
	</div>
</div>