<div class="pubsub">
	<div class="bg"></div>
	<div class="overlay"></div>
  <section id="left-sidebar">
  </section>

  <section id="main-content" class="clearfix">
  </section>

  <section id="footer">
  </section>
</div>
