@import url('../fonts/stylesheet.css');

/* ====================================================
   Reset styles
   ==================================================== */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* ====================================================
   Custom styles
   ==================================================== */

body,
html {
  font-family: 'open_sanslight', sans-serif;
}

a,
a:focus,
a:hover {
  text-decoration: none;
}

.overlay {
  margin: 0px;
  padding: 0px;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0.35;
  background-image: url('../images/background-image-overlay-full.png');
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/Chat.png');
  background-size: cover;
  background-repeat: no-repeat;
}


/* ====================================================
   Left Sidebar styles
   ==================================================== */

#left-sidebar {
  display: block;
  background: rgba(0, 0, 0, 0.29);
}

#left-sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  left: 3%;
  width: 13%;
  max-width: 150px;
  min-width: 150px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.29)), color-stop(78%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.29) 0%, rgba(0, 0, 0, 0) 78%, rgba(0, 0, 0, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#4a000000', endColorstr='#00000000', GradientType=0);
}

#left-sidebar #main-menu {
  margin: 0;
  padding: 0;
  font-family: 'open_sanslight', sans-serif;
  font-size: 0.86em;
  line-height: 1.05;
  text-transform: lowercase;
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
}

#left-sidebar #main-menu > li.menu-item {
  display: block;
  margin: 0;
  padding: 0;
}

#left-sidebar #main-menu > li.menu-item > a,
#left-sidebar #main-menu > li.menu-item > span {
  display: block;
  padding: 13px 10px;
  background: rgba(0, 0, 0, 0.01);
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-weight: normal;
}

#left-sidebar #main-menu > li.menu-item > a:hover {
  background: rgba(0, 0, 0, 0.3);
}

#left-sidebar #main-menu > li.menu-item.active > * {
  font-family: 'open_sansbold', sans-serif;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.15);
}

@media (max-width: 992px) {
  #left-sidebar {
    height: auto;
    min-width: auto;
    max-width: none;
    width: 93.5%;
  }
}

@media (min-width: 992px) {
  #left-sidebar #main-menu {
    margin: 30px 0;
    font-size: 1.02em;
    line-height: 1;
  }
}


/* ====================================================
   Content styles
   ==================================================== */

h1 {
  color: #fff;
  font-size: 20px;
  margin: 15px;
  line-height: 1.1;
  margin: 0.5em 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  font-size: 2em;
  font-family: 'open_sansbold', sans-serif;
}

h2 {
  color: #fff;
  font-size: 16px;
  margin: 15px;
  line-height: 1.1;
  margin: 0.5em 0;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.33);
  font-size: 2em;
  font-family: 'open_sansbold', sans-serif;
}

#main-content > div {
  padding: 1%;
  display: none;
  width: 70%;
  min-height: 300px;
  margin-top: 100px;
  margin-left: 20%;
  background-color: rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 992px) {
  #main-content > div {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    overflow: hidden;
  }
}

#pub-client .wrap {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
}

#pub-client .controls {
  text-align: right;
}

#pub-client input {
  width: 70%;
  color: #fff;
  padding: 10px;
}

#pub-client input.half-width {
  width: 35%;
}

#pub-client a {
  width: 26%;
  display: inline-block;
  color: #000;
  border: 1px solid #fff;
  padding: 12px;
  color: #fff;
}

#pub-client a:hover {
  color: #000;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

input,
input:focus {
  border: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
}

.msg-item {
  height: 30px;
  line-height: 30px;
  width: 80%;
  color: #fff;
  color: #fff;
  margin: 0 auto;
  position: relative;
  font-size: 14px;
  margin-bottom: 5px;
  clear: both;
}

.msg-item > span {
  display: inline-block;
  border: 1px solid #143118;
  width: 48%;
  padding: 0 10px;
  margin: 2px;
}

.msg-item small {
  color: #fff;
  font-size: 9px;
  font-style: italic;
}

.msg-item > span:first-child {
  float: left;
}

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.7);
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.7);
}

:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(0, 0, 0, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 0, 0, 0.6);
  outline: 0 none;
}
